" class="btn-primary" style="line-height: 22px; margin: 0; box-sizing: border-box; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #ffffff; font-size: 18px; padding: 20px; display: block; font-weight: bold; background: #00E056; border-radius: 3px; text-decoration: none; text-align: center;">Confirm email address</a>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
      </td>
    </tr>
  </table>
  <img src="http://ea.pstmrk.it/open/ODExOTBfMjU3MTYxX3ZlcmlmeS1lbWFpbF9lN2QyNzA0My03Mjk3LTQyYjUtODkzMC1lN2Y3M2M1ZjBlNDFfaGVsbG9AbWF0dGhld3NtaXRoLmNj" width="1" height="1" border="0" />
</body>
<div class="footer" style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #8F9BB3; font-size: 14px; line-height: 22px; width: 100%; clear: both;">
  <table width="100%" class="footer-table" style="margin: 0; box-sizing: border-box; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #8F9BB3; font-size: 14px; line-height: 22px; padding: 40px 20px; background: white;">
    <tr style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; color: #8F9BB3; font-size: 14px; line-height: 22px;">
      <td class="aligncenter content-block" style="margin: 0; box-sizing: border-box; line-height: 22px; vertical-align: top; padding: 20px 0; font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; color: #8F9BB3; text-align: center; font-size: 12px;">Diactral &bull; Hillarious Ayurveda : Diactral &bull;
        <a href="https://geniobits.com" style="margin: 0; padding: 0; box-sizing: border-box; font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; line-height: 22px; color: inherit; font-size: 12px; text-decoration: none;">Designed by GENIOBITS</a>
      </td>
    </tr>
  </table>
</div>
    
    
    
    
    
  </body>
</html>
